body {
    margin: 0px;
    font-family: Arial;
    display: flex;
    flex-flow: wrap column;
}

header, 
h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav, 
nav h2{
    background-color: gray;
    margin: 0px;
}

h2 {
    margin: 0 0px;
    padding: 5px 0 0 100px;
}

nav ul {
    display: flex;
    flex-flow: row;
}

nav ul li {
    list-style-type: none;
    margin: 5px;
}

.button-tag {
    width: 70px;
    height: auto;
    border: 2px solid black;
    border-radius: 6px;
}

main {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

figure img {
    width: 500px;
    height: auto;
}

.column figure img {
    border: 0px solid black;
}

#AddButton0 {
  margin: 50px;  
}

form {
    width: 520px;
    height: 605px;
    position: fixed;
    padding: 10px;
    top: 15%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

form fieldset {
    height: 580px;
}

form fieldset p[name="addingDescription"] {
    display: flex;
    align-items: center;
}

legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

legend p {
    margin: 0px 0px 0px 175px;
}

fieldset {
    border: 0px solid #ffffff;
}

fieldset #closedButton {
    background-color: red;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
    padding: 10px 300px;
}   

footer h2 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    display: flex;
    align-items: flex-end;
    flex-flow: wrap column;
}

footer ul li {
    list-style-type: none;
}

#AddElement {
    background-color: aqua;
    margin: 50px 0 50px 0;
    width: 300px;
    height: 50px;
}