<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        <meta name = "author" content = "Grigory Levin"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
        <title>Gallery</title>
    </head>
    <body>
        <header>
            <h1>Explore wonder world of photos!</h1>
        </header>
        <nav>
            <h2>Find tag:</h2>
            <ul>
                <li>
                    <button class="button-tag" id="tag" name="tag">
                        <a href="#">tag 1</a>
                    </button>
                </li>
                <li>
                    <button class="button-tag" id="tag" name="tag">
                        <a href="#">tag 2</a>
                    </button>
                </li>
                <li>
                    <button class="button-tag" id="tag" name="tag">
                        <a href="#">tag 3</a>
                    </button>
                </li>
            </ul>
        </nav>
        <main>
            <section class="main-content" name="mainContent">
                <div class="columns" name="columns">
                    <section class="column" name="column1" id="column1">
                        <figure>
                            <img src="../static/images/cyberpunk.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag1">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag2">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag3">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="../static/images/Elon Mask.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="../static/images/Mehiko.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag1" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag2" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag3" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                    </section>
                    <section class="column" name="column2" id="column2">
                        <figure>
                            <img src="../static/images/SamsungS3.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="../static/images/SamsungS4.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="../static/images/icon.png" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                    </section>
                    <section class="column" name="column3" id="column3">
                        <figure>
                            <img src="../static/images/assessment-table.png" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="../static/images/Elon Mask.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="../static/images/Mehiko.jpg" width="600"/>
                            <figcaption>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 1</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 2</a>
                                </button>
                                <button class="button-tag" id="tag" name="tag">
                                    <a href="#">tag 3</a>
                                </button>
                            </figcaption>
                        </figure>
                    </section>
                </div>
                <button name="AddElement" id="AddButton" onclick="AddElement()">+ Добавить новый элемент</button>
            </section>
        </main>
        <footer>
            <h2>About me</h2>
            <ul>
                <li><a href="https://t.me/frankneck13">Telegram</a></li>
                <li><a href="https://vk.com/frankneck13">Vk</a></li>
            </ul>
        </footer>
    </body>
    <script src="../js/main.js"></script>
</html>