<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        <meta name = "author" content = "Grigory Levin"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
        <title>Gallery</title>
    </head>
    <body>
        <header>
            <h1>Explore wonder world of photos!</h1>
        </header>
        <nav>
            <h2>Find tag:</h2>
            <ul>
                <li name="navTagName">
                    <button class="button-tag" id="tag0" name="tag">
                        <a href="#">tag 1</a>
                    </button>
                </li>
            </ul>
        </nav>
        <main>
            <div class="columns" name="columns">
                <section class="column" name="column1" id="column1">
                </section>
                <section class="column" name="column2" id="column2">
                </section>
                <section class="column" name="column3" id="column3">
                </section>
            </div>
            <form name="Adding form" id="Adding form" style="display: none;">
                <fieldset>
                    <legend>Add a new image             
                        <button type="button" 
                            style="float: right; margin-left: 10px;"
                            onclick="closeForm()">×
                        </button>
                    </legend>
                    <P name="addingFile">
                        <label>Attach a photo</label>
                        <input type="file" accept="image/*">
                    </P>
                    <P name="addingDescription">
                        <label>Add a description</label>
                        <textarea style="resize: none;" rows="3"></textarea>
                    </P>
                    <P name="addingTag">
                        <label>Add a tag</label>
                        <select name="selectTag">
                            <!-- if tag doesn't exist we won't display field -->
                            <option>None</option> 
                        </select>
                        <select name="selectTag">
                            <option>None</option>
                        </select>
                        <select name="selectTag">
                            <option>None</option>
                        </select>
                        <p>
                            <label>Add a new tag</label>
                            <input type="text" name="addTagName" id="addTagName" maxlength="64"/>
                            <button type="button" name="addTagButton" id="addTagButton" onclick="addNewTag(this.form.addTagName.value);">+</button>
                        </p>
                    </P>
                    <p>
                        <!-- Кнопка добавления -->
                        <button type="button" name="AddElement" id="AddButton" onclick="addElement(document.forms['Adding form'].querySelector('input[type=file]')); closeForm();">   
                            + Добавить новый элемент
                        </button> 
                    </P>
                </fieldset>
                
            </form>
            <button type="button" name="AddElement" id="AddButton" onclick="openForm()">+ Добавить новый элемент</button>
        </main>
        <footer>
            <h2>About me</h2>
            <ul>
                <li><a href="https://t.me/frankneck13">Telegram</a></li>
                <li><a href="https://vk.com/frankneck13">Vk</a></li>
            </ul>
        </footer>
    </body>
    <script src="../js/main.js"></script>
</html>