<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        <meta name = "author" content = "Grigory Levin"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
        <title>Gallery</title>
    </head>
    <body>
        <header>
            <h1>Explore wonder world of photos!</h1>
        </header>
        <nav>
            <h2>Find tag:</h2>
            <div class="tags">
                <button type="button" button class="button-tag" name="tag" id="showAll0" onclick="showAllPictures()">Показать все</button>
                <ul>
                    <li name="navTagName">
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="columns" name="columns">
            </div>
            <form name="Adding form" id="Adding form" style="display: none;">
                <fieldset>
                    <legend>
                        <p>Add a new image</p>
                        <button type="button" id="closedButton" 
                            style="float: right; margin-left: 10px;"
                            onclick="closeForm()">×
                        </button>  
                    </legend> 
                    <p name="addingFile">
                        <label>Attach a photo</label>
                        <input type="file" accept="image/*">
                    </p>
                    <p name="addingDescription">
                        <label>Add a description</label>
                        <textarea style="resize: none;" rows="3"></textarea>
                    </p>
                    <p name="addingTag">
                        <label>Add a tag</label>
                        <select name="selectTag" id="select1">
                            <!-- if tag doesn't exist we won't display field -->
                            <option>None</option> 
                        </select>
                        <select name="selectTag" id="select2">
                            <option>None</option>
                        </select>
                        <select name="selectTag" id="select3">
                            <option>None</option>
                        </select>
                        <p>
                            <label>Add a new tag</label>
                            <input type="text" name="addTagName" id="addTagName" maxlength="20"/>
                            <button type="button" name="addTagButton" id="addTagButton" onclick="addNewTag(this.form.addTagName.value);">+</button>
                        </p>
                    </p>
                    <p>
                        <!-- Кнопка добавления -->
                        <button type="button" name="AddElement" id="AddButton1" 
                        onclick="addElement(document.forms['Adding form'].querySelector('input[type=file]'), 
                            document.forms['Adding form'].querySelector('textarea').valeu,
                            document.forms['Adding form'].querySelector('select[id=select1]').value, 
                            document.forms['Adding form'].querySelector('select[id=select2]').value,
                            document.forms['Adding form'].querySelector('select[id=select3]').value);">   
                            + Добавить новый элемент
                        </button>
                    </P>
                </fieldset>
            </form>
            <button type="button" name="AddElement" id="AddButton0" onclick="openForm()">+ Добавить новый элемент</button>
        </main>
        <footer>
            <h2>About me</h2>
            <ul>
                <li><a href="https://t.me/frankneck13">Telegram</a></li>
                <li><a href="https://vk.com/frankneck13">Vk</a></li>
            </ul>
        </footer>
    </body>
    <script src="../js/main.js"></script>
</html>